.button {
	color: #FAF4EA;
	border-radius: 8px;
	border: 2px solid #819B57;
	background-color: #819B57;
	cursor: pointer;
}

.button:hover {
	color: #465929;
	background-color: transparent;

}