@import './utils/variables';

@import './base';

@import './utils/utils';

@import './utils/section-container';

@import './components/buttons';

@import './components/links';

@import './components/header';

@import './components/hero-sections.scss';

@import './components/advantages-section';

@import './components/section-title';

@import './components/traditions-section';

@import './components/chefs-section';

@import './components/formats-sections';

@import './components/carousel';

@import './components/contact-section';

@import './components/footer';

@import './components/modal';

@import './components/form';
