@import './utils/variables';

@import './base';

@import './utils/utils';

@import './utils/container';

@import './components/buttons';

@import './components/links';

@import './components/header';

@import './components/hero-sections.scss';
@import './utils/texts';

@import './components/advantages-section';

@import './components/section-title';

@import './components/traditions-section';

@import './components/chefs-section';
@import './layouts/chef-card';
@import './layouts/pagination';

@import './components/formats-sections';
@import './layouts/format-card';

@import './components/carousel';

@import './components/contact-section';
@import './layouts/form-terms';

@import './components/footer';

@import './components/modal';
@import './layouts/mobile-menu';

@import './components/input';
