.chefs-section {
  &__title {
    position: relative;
    margin: 0 auto 24px;
    max-width: 532px;

    @media screen and (min-width: $bp-desktop) {
      margin-bottom: 80px;
    }

    &::before,
    &::after {
      display: none;

      @media screen and (min-width: $bp-desktop) {
        display: block;
        position: absolute;
        bottom: 24px;
        display: block;
        width: 352px;
        border: 2px solid var(--color-brand-light);
        content: '';
      }
    }

    &::before {
      left: -360px;
    }

    &::after {
      right: -360px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 20px;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
      gap: 40px 30px;
    }
  }

  &__item {
    @media screen and (min-width: $bp-tablet) {
      flex-basis: calc((100% - 30px) / 2);
    }
  }
}
