.section {
  padding: 24px 0;

  @media screen and (min-width: $bp-desktop) {
    padding: 48px 0;
  }

  &__title {
    font-size: 32px;

    @media screen and (min-width: $bp-desktop) {
      color: var(--color-primary-dark);
      font-size: 64px;
      font-weight: 900;
      line-height: 84px;
    }

    &--centered {
      text-align: center;
    }
  }
}
