.section-title {
  color: var(--color-primary-dark);
  font-size: 64px;
  font-weight: 900;
  line-height: 84px;
}

.section-title.centered {
  text-align: center;
}

.section-title .accent {
  color: var(--color-brand-dark);
}
