.traditions-section {
  padding-top: 48px;

  @media screen and (min-width: $bp-desktop) {
    padding-top: 96px;
  }

  &__container {
    display: flex;
    align-items: flex-start;
    gap: 100px;
  }

  &__title {
    margin-bottom: 42px;
  }

  &__image {
    display: none;
    border-radius: 400px 400px 0 0;

    @media screen and (min-width: $bp-desktop) {
      display: block;
    }
  }
}
