.traditions-section {
  padding-top: 96px;
}

.traditions-container {
  display: flex;
  gap: 100px;
}

.traditions-title {
  margin-bottom: 42px;
}

.traditions-text .brand {
  color: var(--color-brand-normal);
  font-weight: 600;
}

.traditions-text .uppercase {
  text-transform: uppercase;
}
