.pagination {
  display: flex;
  align-items: center;
  gap: 24px;
  justify-content: center;

  &__button {
    width: 12px;
    height: 12px;
    padding: 0;
    background: var(--color-secondary-dark);
    border-radius: 50%;

    &--active {
      background: var(--color-brand-dark);
    }
  }
}
